Nickname {{ hostvars[inventory_hostname].tor_nickname }}
ORPort 443
ORPort [{{ hostvars[inventory_hostname].ipv6 }}]:443
ExitRelay 0
SocksPort 0
ControlSocket 0
RelayBandwidthRate 10 MBytes
RelayBandwidthBurst 12 MBytes
ContactInfo {{ tor_contact }}
